<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698581022691-qlbf2kvr16g4jj5ml5b2t8tr0l0gveb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698581022691-qlbf2kvr16g4jj5ml5b2t8tr0l0gveb0</string>
	<key>API_KEY</key>
	<string>AIzaSyDnrx5J__dksKAfiERJFHBr_uerxkHCGT8</string>
	<key>GCM_SENDER_ID</key>
	<string>698581022691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>diagramproject-f4e78</string>
	<key>STORAGE_BUCKET</key>
	<string>diagramproject-f4e78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698581022691:ios:7ca193e5fa16e1751d12d6</string>
</dict>
</plist>